---
import { getCollection } from 'astro:content'

interface Props {
  title?: string
}

const posts = await getCollection('posts', ({ data }) => !data.draft)
const { title } = Astro.props
---

<section>
  {title && <h2>{title}</h2>}
  <ol>
    {
      posts
        .sort((a, b) => a.data.date.getTime() - b.data.date.getTime())
        .map((post) => (
          <li>
            <a href={`/artikel/${post.slug}`}>{post.data.title}</a>
          </li>
        ))
    }
  </ol>
</section>
