---
import Layout, { type Props as LayoutProps } from './layout.astro'
import List from '~/components/list.astro'

interface Props extends LayoutProps {
  isPost?: boolean
}

const { title, description, isPost } = Astro.props
---

<Layout title={title} description={description}>
  <main class="container">
    <section>
      <article>
        <hgroup class="title">
          <h1>{title}</h1>
          <p><i>{description}</i></p>
        </hgroup>
        <slot />
      </article>
      <hr />
    </section>
    {isPost && <List title="Artikel Lainnya" />}
  </main>
</Layout>

<style lang="scss">
  .title {
    text-align: center;
    margin-bottom: 2rem;

    h1 {
      --pico-font-weight: 900;
    }

    p {
      margin-top: 1rem;
    }
  }
</style>
